[submodule "configs/.oh-my-bash"]
	path = configs/.oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash.git
	branch = master
[submodule "configs/.oh-my-zsh"]
	path = configs/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
[submodule "home/.config/spicetify/Themes/gruvbox"]
	path = home/.config/spicetify/Themes/gruvbox
	url = https://github.com/edjonesdev/spicetify-default-gruvbox
